body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background: linear-gradient(256.47deg, #5e2ab3 2.64%, #161e6c 140.46%);
  color: white;
}
.pointer {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 39px 78px;
  font-style: normal;
  font-weight: 100;
  font-size: 26px;
  line-height: 39px;
}
.quote {
  width: 80vw;
  max-width: 700px;
  display: flex;
  margin: auto;
  background-color: #d05252;
  border-radius: 30px;
  min-height: 200px;
  flex-direction: column;
  text-align: center;
}
.quoteText {
  padding: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
}
.quoteBottom {
  margin-bottom: 20px;
  padding: 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bookmark {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 20px;
  margin: auto;
  gap: 10px;
}
select {
  padding: 10px 20px;
  border-radius: 20px;
}
input {
  background-color: #009c51;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 2px 2px 10px black;
}
